%placeholder-selector {
  content: 'Placeholder selector';
}

$variable1: variable;
$variable2: variable;
$variable3: variable;

@function function-at-rule() {
  @return 'function at rule';
}

@mixin mixin-at-rule {
  .selector-inside-mixin-at-rule {
    content: 'Selector inside mixin at rule';
  }
}

@debug 'Debug at rule';
@warn 'Warn at rule';
@error 'Error at rule';
